version: '3.8'

services:
 # 1. Dịch vụ Database (MySQL)
  mysql-db:
    image: mysql:8.0
    container_name: edumatch-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Duong18122005!
      MYSQL_DATABASE: edumathdb
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3307:3306"
    volumes:
      - mysql-data:/var/lib/mysql

  # 2. Dịch vụ Backend (User Service) 
  user-service:
    container_name: edumatch-user-service
    build:
      context: ./services/user-service
      dockerfile: Dockerfile.user-service
    restart: always
    ports:
      - "8001:8001"
    environment:
      MYSQL_HOST: mysql-db
      MYSQL_USER: root
      MYSQL_PASSWORD: Duong18122005!
      MYSQL_DB: edumathdb
      MYSQL_PORT: 3306
      PORT: 8001
    depends_on:
      - mysql-db


  # 3. Dịch vụ Gateway (Cổng vào) - Tạm dùng Nginx
  api-gateway:
    container_name: edumatch-gateway
    build:
      context: ./services/api-gateway
      dockerfile: Dockerfile
    restart: always
    ports:
      - "80:80" # Cổng chính 80 của hệ thống
    depends_on:
      - user-service # Phụ thuộc vào các service nó điều phối

  # 4. Dịch vụ Frontend (React)
  web-react:
    container_name: edumatch-web
    build:
      context: ./apps/web-react
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - api-gateway

volumes:
  mysql-data: